
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.main_section{
    background-color: rgba(0, 0, 0, 0.926);
}

header{
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 10%,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 75%,
        rgba(20, 20, 20, 1) 100%
    ),url("../images/9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.header_div{
    background-color: rgba(0, 0, 0, 0.478);
    font-weight: bold;
    height: 50px;
}

.header_div h3{
    font-size: 30px;
    margin-left: 6px;
    font-weight: bold;
}

.header_div img{
    filter: invert(100%);
    position: absolute;
    right: 0;
    top: 12px;
    margin-right: 6px;
}

.header_div>div{
    position: absolute;
    top: 3%;
    right: 2%;
}

.line{
    justify-content: center;
    text-align: center;
    margin-top: 507px;
    padding: 15px;
}

header p{
    display: block;
}

header .p2{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.article_1{
    vertical-align: middle;
    margin: 10%;
}

.article_1 p{
    margin-bottom: 7%;
}

.article_2{
    text-align: center;
    margin-bottom: 13%;
}

.article_2 h2{
    margin-bottom: 4%;
}

.article_2 p{
    margin-top: 6%;
}

.article_3{
    text-align: right;
    margin-right: 5%;
    margin-bottom: 10%;
}

.article_3 h2{
    margin-bottom: 5%;
}

.article_3 p{
    margin-bottom: 5%;
}

.article_4{
    background-image: url("../images/b14.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.article_4 p{
    text-align: center;
    font-size: 30px;
    padding-top: 20%;
    font-weight: bold;
}

.article_5{
    text-align: center;
    padding: 50px;
}

footer{
    background-color: rgba(0, 0, 0, 0.671);
    padding: 30px;
    text-align: center;
}

footer .p1{
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    
}

footer .p2{
    margin-top: 3%;
}